<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178811272006-6o105otfnhhuooftd8g8hos6hfpn9gpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178811272006-6o105otfnhhuooftd8g8hos6hfpn9gpc</string>
	<key>API_KEY</key>
	<string>AIzaSyDBWzPA8GlQqKrNbQNtX_u-ijAjgiAoEng</string>
	<key>GCM_SENDER_ID</key>
	<string>178811272006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mealplanner.mobile</string>
	<key>PROJECT_ID</key>
	<string>meal-planner-maderlock</string>
	<key>STORAGE_BUCKET</key>
	<string>meal-planner-maderlock.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178811272006:ios:78e7389d95746a813c0347</string>
</dict>
</plist>